:root {
  --primary-font-family: "Roboto", sans-serif;
  --primary-text-color-theme-dark: #2196f3;
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-light: #757575;
}
body {
  font-family: "Roboto", sans-serif, "Raleway", sans-serif;
  color: #212121;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
address {
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-container {
  display: flex;
}
.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 93px;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  color: #000000;
}
.logo-part {
  color: var(--primary-text-color-theme-dark);
}
.logo-footer {
  color: var(--secondary-text-color-theme-dark);
}
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}
.nav-list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: inherit;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--primary-text-color-theme-dark);
}
.phone {
  margin-left: 50px;
}
.contact-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
}
.contact-item:hover,
.contact-item:focus {
  color: var(--primary-text-color-theme-dark);
}
.main-title {
  /* display: block; */
  width: 696px;
  /* height: 120px; */
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 452px; */
  /* padding-right: 452px; */
  /* padding-top: 200px; */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-text-color-theme-dark);
}
.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.modal-button {
  display: block;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  /* margin-top: 30px; */
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  /* display: flex; */
  /* align-items: center; */
  letter-spacing: 0.06em;
  /* justify-content: space-around; */

  color: var(--secondary-text-color-theme-dark);
  background-color: var(--primary-text-color-theme-dark);
  border: none;
  border-radius: 4px;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #188ce8;
  color: var(--secondary-text-color-theme-dark);
}
.hero-section {
  background-color: #2f303a;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
}
.descriptions {
  display: flex;
  flex-wrap: nowrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.description-card {
  flex-basis: calc((100%-120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
}
.list-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.list-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--secondary-text-color-theme-light);
}
.computers {
  display: flex;
  justify-content: space-between;
}
.employees-section {
  background-color: #f5f4fa;
}
.employees {
  display: flex;
  flex-wrap: nowrap;
  margin-left: -30px;
  margin-top: -30px;
}
.employees-card {
  flex-basis: calc((100%-120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
}
.employee {
  padding-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.employee-card-wrapper {
  /* padding-top: 30px; */
  border: 1px solid #ccc;
  border-top: none;
  padding-bottom: 30px;
}
.job-position {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color-theme-light);
}
.portfolio {
  color: var(--secondary-text-color-theme-dark);
}
.project-pics {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-bottom: 94px;
  padding-top: 34px;
}
.project-card {
  flex-basis: calc((100%-120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
}
.project-card-wrapper {
  border: 1px solid #ccc;
  border-top: none;
  padding-left: 24px;
}
.project-name {
  padding-top: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}
.project-description {
  padding-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: var(--secondary-text-color-theme-light);
}
.buttons-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-left: -8px;
  margin-top: -8px;
  padding-top: 94px;
  /* padding-bottom: 34px; */
}
.button-card {
  /* flex-basis: calc((100%-40px) / 5); */
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
}
.portfolio-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: inherit;
  background-color: #f5f4fa;
  border: none;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--primary-text-color-theme-dark);
  color: var(--secondary-text-color-theme-dark);
}
.location {
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--secondary-text-color-theme-dark);
}
.footer-container {
  /* display: flex; */
  background-color: #2f303a;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  /* margin-left: auto; */
  /* margin-right: auto; */
}
